<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing a book</title>
</head>
<body>
  <form th:method="PATCH" th:action="@{/book/{id}/edit(id = ${book.getId()})}" th:object="${book}">

      <label for="title">Enter book title: </label>
      <input type="text" th:field="*{title}" id="title">
      <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</div>
      </br>

      <label for="author">Enter author: </label>
      <input type="text" th:field="*{author}" id="author">
      <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Date Error</div>
      <br>

      <label for="creationDate">Enter the year of publication of the book: </label>
      <input type="text" th:field="*{creationDate}" id="creationDate">
      <div style="color: red" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}">Date Error</div>
      <br>

      <input type="submit" value="Submit"/>

  </form>
</body>
</html>